.contact {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 4rem;
}

.outer-container {
    background-color: var(--color-foreground);
    flex-grow: 1;
    width: 100%;
    padding: 1px;
    display: flex;
}

.inner-container {
    background-color: var(--color-background);
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}

.inner-container .contact-image {
    width: 25%;
}

.tabs {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
}

input, textarea {
    padding: .5rem;
    border: 1px solid var(--gray-800);
    border-width: .5px .5px 2px .5px;
    width: 100%;
    font-size: 1rem;
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    max-height: 300px;
    resize: vertical;
    min-height: 100px;
}

button {
    padding: .5rem 1rem;
    color: var(--color-foreground);
    border: 1px solid var(--gray-800);
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
}

.socials {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}